{% extends "main/base.html" %}

{% block content %}
    <table>
        <style>
            table {
            border: 3px solid grey;
            width: 1480px;
            }
            th, td {
            border: 1px solid grey;
            }
        </style>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
            </tr>
        </thead>
        {% for ad in ads_list %}
            <tr>
                <th scope="row">{{ ad.id }}</th>
                <td><a href="{{ ad.id }}">{{ ad.name}}</a></td>
            </tr>
        {% endfor %}
    </table>
    <table>
        <tr>
            {% for tag in tags %}
                <td><a href="?tag={{ tag.name }}">{{ tag.name }}</a></td>
            {% endfor %}
        </tr>
    </table>
    {% include 'main/includes/paginator.html' %}
{% endblock %}
